.status-pod{
    margin: 1em;
	padding: 1rem;
	height: 379px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
    transition: transform .6s; /* Animation off */
    transform: scale(1);
    background-color: white;

    h1,h2, p{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }

    border-color: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    border-left: 15px solid;

    transition: transform .6s; /* Animation off */
    transform: scale(1);

}
    
.status-pod:hover{
    transition: transform .6s; /* Animation */
    transform: scale(1.02);
}

.notify:hover {	
	background-color: #969696;
    color: white;
    transition: transform .6s; /* Animation */
    transform: scale(1.02);
    font-style: bold;
}

.status-container{
    font-size: 1em;
}


.status-pod-fully-operational{
    border-color: #6FCF97;
}
.status-pod-semi-operational{
    border-color: #FFC42D;
}
.status-pod-offline{
    border-color: #ff3157;
}
.status-pod-unknown{
    border-color: #000000;
}