.status-page {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding: 2em;
	
	margin: 2em auto;
	margin-top: 6em;

	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.384);
	background-color: white;
}

::-webkit-scrollbar{
	display:none
  }

