.status{
    margin: 1em;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
    transition: transform .6s; /* Animation off */
    transform: scale(1);

    h1,h2{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
    }
    border: 1px solid;
}

.status-live {
	// background-color: #b4fe8a;
}

.status-warning {
	// background-color: #fef68a;
}

.status-offline {
	// background-color: #fea18a;
}

.status-unknown {
	// background-color: #b6b6b6;
}
    
.status:hover{
    transition: transform .6s; /* Animation */
    transform: scale(1.02);
}

.notify:hover {	
	background-color: #969696;
    color: white;
    transition: transform .6s; /* Animation */
    transform: scale(1.02);
    font-style: bold;
}

.status-container{
    font-size: 1em;
}