.status-search-container{
	// background-color: rgb(233, 233, 233);
	margin-top: 3em;
}

.search-type-tool-tip{
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 8px;
	max-width: 270px;
	margin: auto;
	color: black;
	justify-content: space-between;

	.type-element{
		border-radius: 10px;
		padding: 5px;
		width: 40px;
		height: 40px;
		margin-top: 0;
		color: black;
		justify-content: space-between;
		border: 2px solid;
		border-color: #ffffff;
		text-align: center;
	}
}

.search-type-range {
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 8px;
	max-width: 270px;
	margin: 2em auto;
	margin-top: 0;
	color: black;
	justify-content: space-between;
}
.search-type-range > *{
	width: 100%;
}


.search-type-fully-reset {
	accent-color: #ffffff;
	background-color: white;
  }
  
  .search-type-fully-operational {
	accent-color: #7ff550;
	background-color: white;
  }
  
  .search-type-semi-operational {
	accent-color: #f5e550;
	background-color: white;
  }
  
  .search-type-offline {
	accent-color: #ff3157;
	background-color: white;
  }
  
  .search-type-unknown {
	accent-color: #b6b6b6;
	background-color: white;
  }
  



.tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	position: absolute;
	z-index: 1;
	top: 80%;
	margin-left: -70px;
}

.type-fully-operational{
	background-color: #b4fe8a;
}
.type-fully-operational:hover .tooltiptext {
	visibility: visible;
}
.type-semi-operational{	
	background-color: #fef68a;
}
.type-semi-operational:hover .tooltiptext {
	visibility: visible;
}
.type-offline{
	background-color: #fea18a;
}
.type-offline:hover .tooltiptext {
	visibility: visible;
}
.type-unknown{
	background-color: #b6b6b6;
}
.type-unknown:hover .tooltiptext {
	visibility: visible;
}
.type-reset{
	background-color: #ffffff;
}
.type-reset:hover .tooltiptext {
	visibility: visible;
}