body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 
	'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
		
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
	min-height: 100vh;
}

.container{
	background-color: rgb(255, 49, 87);
	padding-bottom: 4em;
	overflow-y: hidden;
}


.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	min-height: 92.45px;
}

.nav-logo{
	margin-left: 0.2em;
	margin-top: 0.2em;
	max-width: 180px;
    min-width: 160px;
    -o-object-fit: contain;
    object-fit: contain;
	padding-left: 9%;
}

.dark-mode {
	color: white;
}

.dark-mode .container{
	background-color: rgb(100, 95, 95);

}

.dark-mode .container .header{
	background-color: rgb(61, 61, 61);

}

.dark-mode .container .status-page{
	background-color: rgb(75, 72, 72);

}


.dark-mode-button {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	margin-right: 0.2em;
	margin-top: 0.2em;
}

.dark-mode-button:hover {	
	background-color: #ededed;
	cursor: pointer;
}

